{%  extends "auctions/layout.html"  %}

{%  block body  %}
    <h2>Categories</h2>
        <li><a href="{%  url 'category' 'Fashion'  %}">Fashion</a></li>
        <li><a href="{%  url 'category' 'Toys'  %}">Toys</a></li>
        <li><a href="{%  url 'category' 'Electronics'  %}">Electronics</a></li>
        <li><a href="{%  url 'category' 'Home'  %}">Home</a></li>
        <li><a href="{%  url 'category' 'Sports'  %}">Sports</a></li>
        <li><a href="{%  url 'category' 'Music'  %}">Music</a></li>
        <li><a href="{%  url 'category' 'Others'  %}">Others</a></li>
            
{%  endblock  %}