{%  extends "auctions/layout.html"  %}

{%  block body  %}
    <h2>{{  title  }}</h2>
        {%  for auction in auctions %}
            <li><a href="{%  url 'auction' auction.id %}">{{  auction.title  }}</a></li>
        {%  if auction.photo  %}
            <img src="{{  auction.photo  }}" width="20%" height="20%">
        {%  endif  %}
            <ul>
                <li>Seller: {{  auction.seller  }}</li>
                <li>Description: {{  auction.description  }}</li>
                <li>Initial Price: ${{  auction.price  }}</li>
            </ul>
        {%  endfor  %}

{%  endblock  %}